Course-work-FRONT-end/.angular/cache/
Course-work-FRONT-end/.angular/cache/15.2.7/angular-webpack/11a50f810235dfa2fda1bb537be80561077b81ec/0.pack
Course-work-FRONT-end/.angular/cache/15.2.7/angular-webpack/0936c3ea58525136ecf1cfe29231bb15a9733228/0.pack